ion-content {
  display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
    --padding-bottom: 80px;
  --background: #f1f1f1;
  --overflow: visible;
      //--padding-bottom: 80px;
      /* Щоб контент не закривав футер */
    
}

.tittle{
  font-family: "Mulish", sans-serif;
  font-weight: 600;
  font-size: 20px;
  color: #000000;
}

.homepage-conteiner{
  width: 100%;
  padding: 14px;
  bottom: 150px;
}

.conteiner{ 
  display: flex;
  gap: 200px;
  width: 100%;
  padding: 14px;
}

.logo {
  width: 58px;
  height: auto;
}

.header-icon {
  font-size: 28px;
  color: #AAD5D1;
  margin: 0 8px;
}

ion-toolbar {
  padding: 0 10px;
}

.white-squere-1,.white-squere-2{
  width: 350px;
  height: 180px;
  background:#FFFFFF;
  border-radius: 20px;
  align-items: center;
    justify-content: center;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}

.white-squere-1{
  z-index: 1;
}

.shpiz {
  margin-left: 200px;
  margin-top: -125px;
  z-index: 2;
  position: absolute;
  width: 200px;
  height: auto;
}

.text-white-squere-1{
  font-family: "Mulish", sans-serif;
  font-weight: 600;
  font-size: 13px;
  color: #0C0C0C;
  padding-left: 10px;
  padding-top: 15px;
}

.amount{
  font-family: "Mulish", sans-serif;
  font-weight: 600;
  font-size: 36px;
  color: #AAD5D1;
  padding-left: 10px;
  margin-top: -2px;
}

.green{
  justify-content: center;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  gap: 15px;
  bottom: 10px;
}

.green-squere{
  width: 100px;
  height: 65px;
  background: #AAD5D1;
  border-radius: 15px;
  bottom: 10px;
}

.text-green-squere{
  font-family: "Mulish", sans-serif;
  font-weight: 600;
  font-size: 10px;
  color: #0C0C0C;
  padding-left: 6px;
}

.amount-green,.amount-green-she{
  font-family: "Mulish", sans-serif;
  font-weight: 600;
  font-size: 16px;
  color: #FFFFFF;
  text-shadow: 1px 3px 4px rgba(0, 0, 0, 0.3);
  padding-left: 6px;
}

.amount-green-she{
  margin-top: -5px;
}

.white-squere-2{
  margin-top: 72px;
}

.text-white-squere-2{
  font-size: 20px;
  font-family: "Mulish", sans-serif;
  font-weight: 600;
  color: #0C0C0C;
  padding-left: 17px;
  padding-top: 25px;
}

.information-white-squere{
  font-size: 14px;
  font-family: "Mulish", sans-serif;
  font-weight: 400;
  padding-left: 17px;
  padding-top: 3px;
}

.buttons{
  display: flex;
  gap: 81px;
  margin-top: 305px;
}

.doing-button{
  width: 60px;
  height: 60px;
  --background: #0C0C0C;
}

.text-button{
  display: flex;
}

.adopt{
  margin-left: -10px;
}

.donate{
  margin-left: 75px;
}

.walk{
  margin-left: 78px;
}

.animals-green {
  display: flex;
  gap: 12px;
}

.animal-card {
  position: relative;
  width: 169px;
  margin-top: 30px;
}

.text-container {
  position: absolute;
  z-index: 5;
}

.animal-green-squere {
  position: relative;
  width: 169px;
  height: 89px;
  background: #AAD5D1;
  border-radius: 20px;
  z-index: 2;
}

.animal-white-squere {
  width: 169px;
  height: 89px;
  background: #FFFFFF;
  border-radius: 20px;
  position: absolute;
  top: 55px;
  left: 0;
  z-index: 1;
  padding: 10px;
}

.name{
  font-size: 12px;
  font-family: "Mulish", sans-serif;
  font-weight: 800;
  color: #0C0C0C;
  padding-left: 71px;
  z-index: 4;
}

.shelter-name{
  font-size: 8px;
  font-family: "Mulish", sans-serif;
  font-weight: 600;
  color: #0C0C0C;
  padding-left: 71px;
  margin-top: -10px;
  z-index: 15;
}

.address{
  font-size: 8px;
  font-family: "Mulish", sans-serif;
  font-weight: 400;
  color: #0C0C0C;
  padding-left: 71px;
  margin-top: -5px;
  z-index: 5;
}

.animal-information{
  font-size: 8px;
  font-family: "Mulish", sans-serif;
  color: #0C0C0C;
  margin-top: 32px;
  padding-left: 15px;
}

.scrollable-container-1 {
  display: flex;
    overflow-x: auto;
    gap: 10px;
    overflow-y: hidden;
    scroll-snap-type: x mandatory;
    -webkit-overflow-scrolling: touch;
    min-height: 180px;
    margin-top: 30px;
}

.cat{
  position: absolute;
  z-index: 2;
  top: -38px;
  width: 85px;
  height: auto;
}

.dogi{
  position: absolute;
  z-index: 2;
  top: -52px;
  width: 100px;
  height: auto;
}

.button-donate{
  position: absolute;
  background: #000000;
  width: 30px;
  height: 10px;
  border-radius: 5px;
  z-index: 15;
  margin-left: 71px;
  //bottom: 5px;
  margin-top: 73px;
  //gap: 2px;
    display: flex;
      align-items: center;
      gap: 5px;
      //justify-content: center;
}

.paw-don{
  width: 5px;
  height: auto;
  position: absolute;
  //z-index: 100;
  margin-left: 3px;
}

.text-donate{
    font-size: 4px;
      font-family: "Mulish", sans-serif;
      color: #FFFFFF;
      font-weight: 800;
      margin-left: 10px;
}

.scrollable-container-2 {
  display: flex;
  overflow-x: auto;
  overflow-y: hidden;
  scroll-snap-type: x mandatory;
  -webkit-overflow-scrolling: touch;
  min-height: 100px;
  margin-top: 30px;
}

.fact-green{
  display: flex;
  gap: 20px;
}

.fact-green-squere{
  width: 320px;
  height: 100px;
  background: #AAD5D1;
  border-radius: 20px;
}

.fact-lead-information{
  font-size: 16px;
  font-family: "Mulish", sans-serif;
  color: #FFFFFF;
  font-weight: 600;
  padding-left: 11px;
  padding-top: 10px;
}

.fact-secondary-information{
  font-size: 14px;
  font-family: "Mulish", sans-serif;
  color: #FFFFFF;
  padding-left: 11px;
  margin-top: -8px;
}

.circle-three {
  display: flex;
  justify-content: center;
  gap: 8px;
  position: relative;
    z-index: 10;
}

.circle {
  width: 8px;
  height: 8px;
  background: #FFFFFF;
  border-radius: 50%;
  margin-top: 12px;
}

.circle-1 {
  width: 8px;
  height: 8px;
  background: #0C0C0C;
  border-radius: 50%;
  margin-top: 12px;
}

.useful{
  font-size: 16px;
  font-family: "Mulish", sans-serif;
  font-weight: 600;
  color: #000000;
}

.white-squere-3 {
  width: 350px;
  height: 223px;
  border-radius: 20px;
  background: #FFFFFF;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  bottom: 130px;
  margin-bottom: 500px;
}

.message-buttons {
  display: flex;
    display: flex;
      justify-content: center;
      margin-top: -25px;
      margin-bottom: 15px;
}

.mes-but {
  width: 40px;
  height: 40px;
  object-fit: contain;
}

.info-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 15px;
  margin-top: -9px;
}

.info-card {
  width: 150px;
  height: 65px;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-family: "Mulish", sans-serif;
  font-weight: 600;
  font-size: 14px;
  text-align: center;
  transition: 0.3s;
}

.filled {
  background: #AAD5D1;
  color: #FFFFFF;
}

.outlined {
  border: 2px solid #324B49;
  background: white;
  color: #324B49;
}

ion-footer {
  --background: transparent;
  --ion-background-color: transparent;
  background: transparent !important;
  box-shadow: none;
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  z-index: 1000;
}

ion-toolbar {
  --background: transparent;
  --ion-background-color: transparent;
  background: transparent !important;
}


ion-tab-bar {
  --background: white;
  --border: none;
  width: 430px;

  ion-tab-button {
    color: #324B49;
    --color-selected: #AAD5D1;
  }
}