<ion-content>

  <ion-card-header class="header-card">
    <div class="logo-container">
      <img src="assets/logo.png" alt="logo" class="logo-icon">
      <ion-icon name="arrow-back-outline" class="header-icon"></ion-icon>
    </div>
    <div>
      <img src="../../../assets/icon/photo2.png" alt="logo" class="pet-photo">
    </div>
  </ion-card-header>


  <ion-card class="rescue-card">
    <ion-card-header>
      <ion-card-title>VACCINATION FOR PUPPIES</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <div class="rescue-details">
        <div class="rescue-info">
          <ion-icon name="home-outline"></ion-icon>
          <span>Purrfect Heaven Shelter</span>
        </div>
        <div class="rescue-location">
          <ion-icon name="location-outline"></ion-icon>
          <span>Lviv, Ukraine</span>
        </div>
      </div>
    </ion-card-content>
  </ion-card>

  <ion-card class="rescue-card">
    <ion-card-header>
      <ion-card-title>About campaign</ion-card-title>
    </ion-card-header>

    <ion-card-content>
      <div class="description-card">
        <p class="description-text">
          🐕 15 puppies in the ‘Purrfect Heaven’ shelter are preparing for adoption, but before that they need
          vaccination.
          Without vaccinations, they are at risk of contracting deadly viruses.
        </p>
      </div>
    </ion-card-content>

    <ion-card-content>
      <div class="vaccination-card">
        <ion-card-content>
          <ion-icon name="medkit-outline"></ion-icon>
          <span class="text">The cost of vaccination for 1 puppy: <br> 600 UAH</span>
        </ion-card-content>
      </div>
    </ion-card-content>

    <ion-card-content>
      <ion-row class="traits-row">
        <ion-col size="6" class="left-trait">
          <div class="trait-container">
            <span class="trait-title">The amount needed:</span>
            <div class="trait-box">
              <ion-icon name="paw"></ion-icon>
              <span>9 000 UAH</span>
            </div>
          </div>
        </ion-col>
        <ion-col size="6" class="right-trait">
          <div class="trait-container">
            <span class="trait-title">Current fundraising:</span>
            <div class="trait-box">
              <ion-icon name="heart"></ion-icon>
              <span>4 500 UAH</span>
            </div>
          </div>
        </ion-col>
      </ion-row>
    </ion-card-content>
  </ion-card>

  <ion-card class="rescue-card">
    <ion-card-content>
      <div class="raise-details">
        <div class="raise-info">
          <ion-icon name="alarm-outline"></ion-icon>
          <span>4 500 UAH left to raise</span>
        </div>
      </div>
    </ion-card-content>
  </ion-card>

  <ion-card class="actions-card">
    <ion-row class="actions-row">
      <ion-col size="6" class="left-actions">
        <button class="icon-button">
          <ion-icon name="call"></ion-icon>
        </button>
        <button class="icon-button">
          <ion-icon name="chatbubble-ellipses"></ion-icon>
        </button>
      </ion-col>
      <ion-col size="6" class="right-action">
        <button class="request-button">
          <ion-icon name="star-outline"></ion-icon>
          DONATE
        </button>
      </ion-col>
    </ion-row>
  </ion-card>


</ion-content>