<ion-content [fullscreen]="true">
    
  <ion-card class="logo-card">
   <ion-card-header>
    <div>
     <img src="assets/logo.png" alt="logo" class="logo-icon">
    </div>
   </ion-card-header>
  </ion-card>

  <ion-card class="shelter-card">
    <ion-card-content>
      <div class="shelter-info">
        <div class="shelter-line"></div>
        <div class="shelter-text">
          <h2 class="shelter-name">{{ shelterDetails?.shelter_name }}</h2>
          <div class="shelter-details">
            <div class="shelter-location">
              <ion-icon name="home-outline"></ion-icon>
              <span> {{shelterDetails?.address}} </span>
            </div>
            <div class="shelter-location">
              <ion-icon name="location-outline"></ion-icon>
              <span>{{shelterDetails?.city}}, {{shelterDetails?.country}} </span>
            </div>
          </div>
        </div>
      </div>
    </ion-card-content>
  </ion-card>

  <ion-card class="contact-card" style="margin-top: -10px; margin-bottom: -30px;">
   <ion-card-content>
    <div class="contact-line"></div> 
    <div class="contact-box">
    <ion-grid>
      <ion-row>
        <ion-col size="3" class="logo-container">
          <img src={{shelterDetails?.file_path}} alt="PAWS Pet Care Logo" class="logo" />
        </ion-col>
        <ion-col size="9" class="info-container">
          <div class="contact-item">
            <ion-icon name="call-outline"></ion-icon>
            <div>
              <p class="title">Our corporate number</p>
              <p class="content">{{shelterDetails?.phone}}</p>
            </div>
          </div>
          <div class="contact-item">
            <ion-icon name="mail-outline"></ion-icon>
            <div>
              <p class="title">Your corporate email</p>
              <p class="content">{{shelterDetails?.email}}</p>
            </div>
          </div>
        </ion-col>
      </ion-row>
    </ion-grid>
    </div>

    <div class="additional-box">
      <div class="schedule">
        <div class="schedule-box">
          <p class="title">Work schedule</p>
          <p class="time">{{shelterDetails?.work_schedule}}</p>
        </div>
        <p class="note">opening hours may differ in<br>relation to national holidays</p>
      </div>
      <div class="distance-group">
        <div class="distance">
          <div class="icon-box"><ion-icon name="location-outline"></ion-icon></div>
          <p class="title-distance">Destination</p>
          <p class="value">5 km</p>
        </div>
        <div class="distance-time">
            <div class="icon-box"><ion-icon name="alarm-outline"></ion-icon></div>
            <p class="title-time">Time</p>
            <p class="value">15 min</p>
        </div>
      </div>
    </div>
   </ion-card-content>  
  </ion-card>

  <ion-card class="about-card">
    <ion-card-content>
      <div class="about-container">
        <div class="about-line"></div>
        <div class="about-content">
          <div style="width: 370px;">
          <h2 class="about-title">About us</h2>
          <p class="about-text">{{shelterDetails?.about_us}}
          </p>
          </div>
          
          <div class="help-card">
            <div class="line-location">
            <div class="help-line"></div>
            <div>
            <h3><ion-icon name="paw"></ion-icon> How can you help?:</h3>
            <ul>
              <li><div class="bullet"></div> Pet Walking</li>
              <li><div class="bullet"></div> Pet Care</li>
              <li><div class="bullet"></div> Donations</li>
            </ul>
            </div>
            </div>
            <div class="line-location">
            <div class="help-line"></div>
            <div>
            <h3><ion-icon name="heart"></ion-icon>Current issues:</h3>
            <ul>
              <li><div class="bullet"></div> Food shortage</li>
              <li><div class="bullet"></div> Medicine need</li>
              <li><div class="bullet"></div> Operations</li>
            </ul>
            </div>
            </div>
          </div>
        </div>
      </div>
    </ion-card-content>
  </ion-card>

  <ion-card class="location-button">
    <ion-card-content>
      <div class="button">
        <div class="button-content" (click)="goToLocation()">
          <ion-icon name="location-outline"></ion-icon>
          <p class="button-name">Back to the location</p>
        </div>
      </div>
    </ion-card-content>
  </ion-card>
</ion-content>


