ion-content {
  --background: #f1f1f1;
  display: flex;
  justify-content: center;
  align-items: center;

}

.walking-pet {
  width: 100%;
  padding: 14px;
}

.title {
  font-size: 32px;
  font-family: "Mulish", sans-serif;
  font-weight: 800;
  color: #AAD5D1;
}

.subtitle {
  font-size: 13px;
  font-family: "Mulish", sans-serif;
  font-weight: 300;
  color: #324B49;
}

.searching {
  display: flex;
  gap: 7px;
  align-items: center;
  //margin-left: 14px;
}

.search-container {
  position: relative;
  width: 300px;
  height: 40px;
  display: flex;
  align-items: center;
}

.choice{
  display: grid;
  grid-template-columns: repeat(2,1fr);
  gap: 20px;
  margin-top: 30px;
  margin-bottom: 50px;
}

.purple,.pink,.o-purple,.blue{
  width: 160px;
    height: 160px;
    border-radius: 20px;
    background: #D6D3FF;
}

.pink{
  background: #FFD3EE;
}

.o-purple{
  background: #E4D3FF;
}

.blue{
  background: #D3DFFF;
}

.white{
  position: absolute;
  width: 160px;
  height: 63px;
  border-radius: 20px;
  background: #FFFFFF;
  margin-top: 97px;
}

.name-p,.name-pi,.name-o-p,.name-blue{
  font-size: 15px;
  font-family: "Mulish", sans-serif;
  font-weight: 600;
  color: #D6D3FF;
  margin: 0px 0;
  margin-left: 15px;
  margin-top: 15px;
}

.name-pi{
  color:#FFD3EE
}

.name-o-p{
  color: #E4D3FF;
}

.name-blue{
  color: #D3DFFF;
}

.type{
  font-size: 10px;
  font-family: "Mulish", sans-serif;
  font-weight: 600;
  color: #000000;
  margin: 0px 0;
  margin-left: 15px;
  margin-top: 3px;
  opacity: 0.5;
}

.animal-card{
  display: flex;
  justify-content: center;
}

.pet{
  position: absolute;
  //margin-left: 20px;
}

.hard-button{
  position: absolute;
  margin-left: 130px;
  margin-top: 7px;
}

ion-searchbar {
  width: 100%;
  height: 100%;
  --background: #f1f1f1;
  --color: #000000;
  --placeholder-color: #324B49;
  font-size: 14px;
  --border-radius: 20px;
  --border-width: 0px;
  /* Прибираємо внутрішню рамку */
  --icon-color: #AAD5D1;
  //z-index: 2;
  position: absolute;
  padding: 0;
}

.border {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  /* Зменшуємо ширину рамки на 4px (по 2px з кожного боку) */
  height: 100%;
  /* Аналогічно для висоти */
  border: 1px solid #AAD5D1;
  border-radius: 20px;
  background: transparent;
  pointer-events: none;
}



ion-footer {
  --background: transparent;
  --ion-background-color: transparent;
  background: transparent !important;
  box-shadow: none;
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  z-index: 1000;
}

ion-toolbar {
  --background: transparent;
  --ion-background-color: transparent;
  background: transparent !important;
}


ion-tab-bar {
  --background: white;
  --border: none;
  width: 430px;

  ion-tab-button {
    color: #324B49;
    --color-selected: #AAD5D1;
  }
}