<ion-content class="ion-padding">
  <div class="history-conteiner">
    <img src="assets/logo.png" alt="Logo" class="logo" />

    <div class="white-lead">
      <p class="tittle">History of donations</p>
      <div class="buttons">
              <div class="search-button">
                <img src="assets/search.png" alt="search" class="search">
              </div>
              <div class="notification-button">
                <img src="assets/notification.png" alt="notification" class="notification">
              </div>
      </div>
    </div>

    <div class="donations">
      <div class="white-secondary-1">
        <div class="green-squere"></div>
        <div class="col-information">
          <p class="shelter">Furry Friends Rescue</p>
          <div class="row-information">
            <p class="data">24 May 2025</p>
            <p class="data">18:45 PM</p>
          </div>
        </div>
        <div class="col-amount">
          <p class="lead-amount">₴ 5000.00</p>
          <div class="button-status">
            <p class="information-status">confirmed</p>
          </div>
        </div>
      </div>

          <div class="white-secondary">
            <div class="green-squere"></div>
            <div class="col-information">
              <p class="shelter">Love & Care Shelter</p>
              <div class="row-information">
                <p class="data">15 May 2025</p>
                <p class="data">14:25 PM</p>
              </div>
            </div>
            <div class="col-amount">
              <p class="lead-amount">₴ 10000.00</p>
              <div class="button-status">
                <p class="information-status">confirmed</p>
              </div>
            </div>
          </div>

          <div class="white-secondary">
            <div class="green-squere"></div>
            <div class="col-information">
              <p class="shelter">Purrfect Haven</p>
              <div class="row-information">
                <p class="data">5 May 2025</p>
                <p class="data">06:55 PM</p>
              </div>
            </div>
            <div class="col-amount">
              <p class="lead-amount">₴ 5000.00</p>
              <div class="button-status">
                <p class="information-status">confirmed</p>
              </div>
            </div>
          </div>

              <div class="white-secondary">
                <div class="green-squere"></div>
                <div class="col-information">
                  <p class="shelter">Forever Friends Rescue</p>
                  <div class="row-information">
                    <p class="data">30 April 2025</p>
                    <p class="data">08:15 PM</p>
                  </div>
                </div>
                <div class="col-amount">
                  <p class="lead-amount">₴ 500.55</p>
                  <div class="button-status">
                    <p class="information-status">canceled</p>
                  </div>
                </div>
              </div>

                  <div class="white-secondary">
                    <div class="green-squere"></div>
                    <div class="col-information">
                      <p class="shelter">Ruff & Fluff Rescue</p>
                      <div class="row-information">
                        <p class="data">28 March 2025</p>
                        <p class="data">21:30 PM</p>
                      </div>
                    </div>
                    <div class="col-amount">
                      <p class="lead-amount">₴ 750.00</p>
                      <div class="button-status">
                        <p class="information-status">confirmed</p>
                      </div>
                    </div>
                  </div>

                      <div class="white-secondary">
                        <div class="green-squere"></div>
                        <div class="col-information">
                          <p class="shelter">Paws & Claws Haven</p>
                          <div class="row-information">
                            <p class="data">4 March 2025</p>
                            <p class="data">09:25 PM</p>
                          </div>
                        </div>
                        <div class="col-amount">
                          <p class="lead-amount">₴ 3550.00</p>
                          <div class="button-status">
                            <p class="information-status">confirmed</p>
                          </div>
                        </div>
                      </div>
    </div>


  </div>
</ion-content>
        <ion-footer>
          <div class="fotter-white">
            <ion-button class="home">
              <img src="assets/home.png" alt="li_home" class="li">
              <p class="li-text">Home</p>
            </ion-button>
        
            <img src="assets/location.png" alt="li_location" class="li-l">
        
            <img src="assets/chart.png" alt="li_chart" class="li-c">
        
            <img src="assets/star.png" alt="li_star" class="li-s">
        
            <img src="assets/message.png" alt="li_message" class="li-m">
        
          </div>
        </ion-footer>