ion-content {
  --background: #f1f1f1 !important;
  text-align: center;
  //   display: flex;
  justify-content: center;

  align-items: center;
}

.logo {
  width: 85px;
  /* Ширина */
  height: auto;
  /* Авто висота, щоб не спотворювати */
}

ion-item {
  --border-radius: 10px;
  --border-color: #aad5d1;
  --border-width: 2px;
  margin-bottom: 30px;
  --background: #f1f1f1;
  //   overflow: hidden;
}

.date-container {
  display: flex;
  gap: 10px;
}

.date-container ion-select {
  flex: 1;
}

.expiration-cvv {
  display: flex;
  gap: 10px;
}

.submit-btn {
  margin-top: 400px;
  --background: black;
  //   color: #aad5d1;
  --border-radius: 25px !important;
  font-size: 18px;
  width: 100%;
  max-width: 335px;
  height: 65px;
  font-size: 24px;
  color: #aad5d1;

  align-items: center;
  justify-content: center;
  position: absolute;
  bottom: 180px;
  left: 50%;
  transform: translateX(-50%);
}
ion-button.submit-btn::part(native) {
  border-radius: 35px;
}
.custom-title {
  font-family: "Mulish", sans-serif;
  font-weight: 800;
  font-size: 16px !important;
  color: #000 !important;
  text-align: left;
  margin-top: -10px;
  margin-left: -68px;
}
.custom-label {
  //   font-weight: bold;
  margin-bottom: 5px;
  display: block;
  margin-left: -10px;
}

.field {
  display: flex;
  flex-direction: column;
}
.custom-label-1 {
  margin-left: -255px;
  margin-bottom: 15px;
  //   font-weight: bold;
  top: 10px;
}

.custom-label {
  margin-left: -85px;
  //   font-weight: bold;
  margin-bottom: 15px;
}
.custom-label-3 {
  margin-left: -70px;
  //   font-weight: bold;
  margin-bottom: 15px;
}
.custom-label-4 {
  margin-left: -220px;
  //   font-weight: bold;
  margin-bottom: 15px;
}
.close-icon {
  color: #0c0c0c;
  margin-top: -20px;
}
.date-container {
  display: flex;
  gap: 10px; /* Відстань між полями */
  margin-top: 1px;
}
ion-tab-bar {
  --background: white;
  --border: none;
  width: 430px;

  ion-tab-button {
    color: #324b49;
    --color-selected: #aad5d1;
  }
}
