<ion-content [fullscreen]="true">
  <div class="adopted-pet">
    <div class="leed-green-design">
      <img src="assets/doberman.png" alt="dog" class="dog">
      <div class="header-icon">
        <ion-icon (click)="goHome()" name="chevron-back-outline"></ion-icon>
        <div (click)="goProfile()" data-svg-wrapper style="position: relative">
          <svg width="43" height="40" viewBox="0 0 90 91" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path
              d="M90 45.5815C90 20.905 69.8528 0.900696 45 0.900696C20.1472 0.900696 0 20.905 0 45.5815C0 70.2581 20.1472 90.2624 45 90.2624C69.8528 90.2624 90 70.2581 90 45.5815Z"
              fill="url(#paint0_linear_49_1118)" />
            <path fill-rule="evenodd" clip-rule="evenodd"
              d="M18.2549 73.3158C24.3205 64.9734 34.1976 59.5443 45.3518 59.5443C56.3284 59.5443 66.0682 64.802 72.1563 72.9192C65.1734 79.7582 55.5833 83.9792 45.0003 83.9792C34.6231 83.9792 25.2006 79.9209 18.2549 73.3158ZM60.469 36.8548C60.469 45.5302 53.7008 52.5629 45.3518 52.5629C37.0028 52.5629 30.2346 45.5302 30.2346 36.8548C30.2346 28.1795 37.0028 21.1467 45.3518 21.1467C53.7008 21.1467 60.469 28.1795 60.469 36.8548Z"
              fill="white" />
            <defs>
              <linearGradient id="paint0_linear_49_1118" x1="45" y1="0.900696" x2="45" y2="90.2624"
                gradientUnits="userSpaceOnUse">
                <stop stop-color="#AAD5D1" />
                <stop offset="1" stop-color="#B3E0DB" />
              </linearGradient>
            </defs>
          </svg>
        </div>
      </div>
    </div>
      <div class="circle"></div>
      
      <div class="white-icon">
        <div class="icon-box">
          <div class="icon-box-left">
            <img src="assets/friendly-paw.png" alt="friendly-paw" class="friendly-paw">
            <p class="text-icon">Friendly</p>
          </div>
          <div class="icon-box-center">
            <img src="assets/neat.png" alt="neat" class="neat">
            <p class="text-icon-center">Neat</p>
          </div>
          <div class="icon-box-right">
            <img src="assets/vocal.png" alt="vocal" class="vocal">
            <p class="text-icon">Vocal</p>
          </div>
        </div>

        <div class="column-information">
          <div class="row-information-1">
            <p class="lead">Bettie Dog</p>
            <img src="assets/tick.png" alt="tick" class="tick">
          </div>
          <div class="row-information-2">
            <div class="row-1">
              <p class="text">Male</p>
              <img src="assets/point.png" alt="point" class="point">
              <p class="text">10 Months</p>
            </div>
            <p class="text">3.0 km</p>
          </div>
        </div>

        <div class="white-info">
          <p class="info">You consider their welfare and love them <br>unconditionally. You know that your dog is part of <br>the family when you
          genuinely care and nurture <br>them with so much love and affection. All you <br>ever think of is providing them with all the
          <br>happiness and understanding their welfare</p>
        </div>

        <div class="buttons">
          <div class="row-but">
            <div class="phone">
              <img src="assets/phone.png" alt="phone" class="phone-png">
            </div>
            <div class="message">
              <img src="assets/mesage.png" alt="phone" class="message-png">
            </div>
          </div>
          <div class="add-card">
            <img src="assets/add-paw.png" alt="add-paw" class="add-paw">
            <p class="text-add">Add to cart</p>
          </div>
        </div>

      </div>

  </div>
</ion-content>