ion-content {
  --background: #f1f1f1;
  display: flex;
  justify-content: center;
  align-items: center;
  --overflow: visible;
}

.adopted-pet {
  width: 100%;
  //padding: 14px;
}

.header-icon{
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 275px;
  z-index: 3;
}

.header-icon ion-icon {
  font-size: 45px;
  color: #000;
  display: inline-block;
}

.leed-green-design {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 70px;
}

.circle {
  position: absolute;
  top: 0;
  left: 0;
  width: 430px;
  height: 400px;
  background: #B3E0DB;
  border-radius: 0 0 60px 60px;
  opacity: 0.5;
  z-index: 1;
}

.dog{
  position: absolute;
  width: 330px;
  height: auto;
  margin-top: 300px;
  margin-left: -50px;
  z-index: 3;
}

.white-icon{
  position: absolute;
  width: 430px;
  height: 585px;
  background: #ffffff;
  bottom: 0px;
  border-top-left-radius:20%;
  border-top-right-radius:20%;
  display: flex;
  flex-direction: column;
  align-items: center;
  z-index: 5;
}

.icon-box{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 24px;
  margin-top: 20px;
}

.icon-box-left,.icon-box-right{
  width: 75px;
  height: 95px;
  border: 2px dashed #000000;
  border-radius: 40px 0 40px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  background:#ffffff;
  gap: 5px;
}

.icon-box-right{
  border-radius: 0 40px 0 40px;
}

.icon-box-center{
  width: 113px;
  height: 132px;
  background: #F1F1F1;
  border-radius: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 11px;
}

.text-icon,.text-icon-center{
  color: #000000;
    font-family: "Mulish", sans-serif;
    font-weight: 400;
    font-size: 12px;
    text-decoration: none;
    margin: 0px 0;
}

.text-icon-center{
  font-weight: 800px;
  font-size: 24px;
}

.friendly-paw{
  width: 28px;
  height: auto;
  margin-left: 6px;
}

.vocal{
  width: 22px;
  height: auto;
  margin-left: 1px;
}

.neat{
  width: 72px;
  height: auto;
}

.column-information{
  display: flex;
  flex-direction: column;
  margin-top: 16px;
  gap: 4px;
}

.row-information-1,.row-information-2{
  display: flex;
  align-items: center;
  gap: 174px;
}

.row-information-2{
  gap: 174px;
}

.lead,.text{
  color: #000000;
    font-family: "Mulish", sans-serif;
    font-weight: 600;
    font-size: 24px;
    margin: 0px 0;
}

.text{
  font-size: 14px;
  font-weight: 400;
}

.info{
  color: #000000;
  font-family: "Mulish", sans-serif;
  font-size: 14px;
  line-height: 1.5;
}

.tick{
  width: auto;
  height: 43px;
}

.row-1{
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: center;
}

.point{
  width: 5px;
  height: 5px;
}

.white-info{
  width: 350px;
    height: 189px;
    border: 2px dashed #b6b3b3;
    border-radius: 20px;
    background: #ffffff;
    gap: 5px;
    margin-top: 16px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.buttons{
  display: flex;
  flex-direction: row;
  gap: 61px;
  margin-top: 30px;
}

.row-but{
  display: flex;
  flex-direction: row;
  gap: 18px;
}

.phone,.message{
  width: 51px;
  height: 52px;
  border-radius: 50%;
  background: #F1F1F1;
  display: flex;
  align-items: center;
  justify-content: center;
}

.add-card{
  width: 168px;
  height: 52px;
  border-radius: 25px;
  background: #F1F1F1;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

.phone-png,
.message-png {
  width: 21px;
  height: auto;
}

.add-paw{
  width: 42px;
  height: auto;
}

.text-add{
  color: #000000;
  font-family: "Mulish", sans-serif;
  font-size: 16px;
  font-weight: 600;
}