<ion-header class="header"></ion-header>
<div class="icons-friend">
  <img src="assets/icon/icons friend.jpg" alt="icons-friend" />
</div>
<ion-content class="dog-profile">
  <div class="top-background"></div>

  <div class="info-container"></div>
  <div class="icon-container">
    <div class="icon-box">
      <img src="paw-icon.svg" alt="Friendly" class="icon" />
      <p>Friendly</p>
    </div>
    <div class="icon-box center">
      <img src="neat-icon.svg" alt="Neat" class="icon" />
      <p>Neat</p>
    </div>
    <div class="icon-box">
      <img src="vocal-icon.svg" alt="Vocal" class="icon" />
      <p>Vocal</p>
    </div>
  </div>
</ion-content>
